<!-- #MAIN PANEL -->
<div id="main" role="main">
	<%= render "layouts/ribbon" %>
	<!-- #MAIN CONTENT -->
	<div id="content" style="opacity: 1;">
		<div class="row">
			<!-- col -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="page-title txt-color-blueDark">
					<!-- PAGE HEADER -->
					<i class="fa-fw fa fa-home"></i> 
						<%= @project.name %> 
					<span></span>
				</h1>
			</div>
			<div class="col-sm-12">
				<div class="well well-light">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				            <div class="tree">
								<ul>
									<li>
										<span><i class="fa fa-lg fa-calendar"></i> 2013, Week 2</span>
										<ul>
											<li>
												<span class="label label-success"><i class="fa fa-lg fa-plus-circle"></i> Monday, January 7: 8.00 hours</span>
												<ul>
													<li>
														<span><i class="fa fa-clock-o"></i> 8.00</span> &ndash; <a href="javascript:void(0);">Changed CSS to accomodate...</a>
													</li>
												</ul>
											</li>
											<li>
												<span class="label label-success"><i class="fa fa-lg fa-minus-circle"></i> Tuesday, January 8: 8.00 hours</span>
												<ul>
													<li>
														<span><i class="fa fa-clock-o"></i> 6.00</span> &ndash; <a href="javascript:void(0);">Altered code...</a>
													</li>
													<li>
														<span><i class="fa fa-clock-o"></i> 2.00</span> &ndash; <a href="javascript:void(0);">Simplified our approach to...</a>
													</li>
												</ul>
											</li>
											<li>
												<span class="label label-warning"><i class="fa fa-lg fa-minus-circle"></i> Wednesday, January 9: 6.00 hours</span>
												<ul>
													<li>
														<span><i class="fa fa-clock-o"></i> 3.00</span> &ndash; <a href="javascript:void(0);">Fixed bug caused by...</a>
													</li>
													<li>
														<span><i class="fa fa-clock-o"></i> 3.00</span> &ndash; <a href="javascript:void(0);">Comitting latest code to Git...</a>
													</li>
												</ul>
											</li>
											<li>
												<span class="label label-danger"><i class="fa fa-lg fa-minus-circle"></i> Wednesday, January 9: 4.00 hours</span>
												<ul>
													<li>
														<span><i class="fa fa-clock-o"></i> 2.00</span> &ndash; <a href="javascript:void(0);">Create component that...</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<span><i class="fa fa-lg fa-calendar"></i> 2013, Week 3</span>
										<ul>
											<li>
												<span class="label label-success"><i class="fa fa-lg fa-minus-circle"></i> Monday, January 14: 8.00 hours</span>
												<ul>
													<li>
														<span><i class="fa fa-clock-o"></i> 7.75</span> &ndash; <a href="javascript:void(0);">Writing documentation...</a>
													</li>
													<li>
														<span><i class="fa fa-clock-o"></i> 0.25</span> &ndash; <a href="javascript:void(0);">Reverting code back to...</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
				        </div>
				        <!-- end col -->
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- END #MAIN CONTENT -->
	
</div>
<!-- END #MAIN PANEL -->
